#red-color {
  background: red;
}
#orange-color {
  background-color: orange;
}
#gold-color {
  background-color: gold;
}
#lime-color {
  background-color: lime;
}
#green-color {
  background-color: green;
}
#aqua-color {
  background-color: aqua;
}
#lightblue-color {
  background-color: lightblue;
}
#lightskyblue-color {
  background-color: lightskyblue;
}
#blue-color {
  background-color: blue;
}
#darkblue-color {
  background-color: darkblue;
}
#pink-color {
  background-color: pink;
}
#violet-color {
  background-color: violet;
}
#darkviolet-color {
  background-color: darkviolet;
}
#lightcoral-color {
  background-color: lightcoral;
}
#coral-color {
  background-color: coral;
}
#hotpink-color {
  background-color: hotpink;
}
#wheat-color {
  background-color: wheat;
}
#white-color {
  background-color: white;
}
#rebeccapurple-color {
  background-color: rebeccapurple;
}
#thistle-color {
  background-color: thistle;
}
#yellow-color {
  background-color: yellow;
}
#yellowgreen-color {
  background-color: yellowgreen;
}
#olive-color {
  background-color: olive;
}
#purple-color {
  background-color: purple;
}
#slateblue-color {
  background-color: slateblue;
}
#black-color {
  background-color: black;
}
#gray-color {
  background-color: gray;
}
#chocolate-color {
  background-color: chocolate;
}
